{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <section class="bg-neutral-primary">
        <div class="py-8 px-4 mx-auto max-w-screen-2xl text-center lg:py-16">
            <h1 class="mb-6 text-4xl font-bold tracking-tighter text-heading md:text-5xl lg:text-6xl">Bonjour Younes</h1>
            <p class="mb-4 text-base font-normal text-body md:text-xl">
                Voici 2 tests.<br>
                Le CSS et JS sont imports dans les assets
            </p>
            <p class="p-1 rounded inline-block mb-8 bg-red-500 text-white font medium">Bien penser à désactiver le cache network du navigateur ça peut fausser les tests</p>
            <div class="grid grid-cols-2 gap-8">
                <div class="flex justify-between flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        Flash Error sur une redirection
                    </h3>
                    <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-neutral-500">
                        Cet exemple redirige dans le controller en demandant un flash error.
                    </p>
                    <p class="mt-2 text-gray-500 dark:text-neutral-400">
                        Ici, normalement, pas besoin de css ni de js dans public car tout est déjà import avec asset mapper.
                        Mais l'option inject_assets false semble ne plus envoyer les flash
                    </p>
                    <a href="/?flash=1" class="mt-3 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                        Flash redirection
                    </a>
                </div>
                <div class="flex justify-between flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                    <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                        Flash Success sans redirection
                    </h3>
                    <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-neutral-500">
                        Cet exemple ne redirige pas. Il utilise les live component.
                    </p>
                    <p class="mt-2 text-gray-500 dark:text-neutral-400">
                        Il fonctionne dans tous les cas de figure car le JS et CSS etant déjà chargé dans app d'asset mapper, le stimulus controller peut s'en servir
                    </p>
                    <twig:Flasher></twig:Flasher>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
