<div{{ attributes.defaults(stimulus_controller('flash')) }}>
    <button data-action="live#action" data-live-action-param="flash" class="w-full cursor-pointer mt-3 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
        Flash sans redirection avec Live Component
    </button>
</div>
